<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <!-- <div class="card-header">
                    <h4>Images with text items</h4>
                </div> -->
                {% for vid in videos %}
                <div class="gaadiex-list">
                    <div class="gaadiex-list-item"><img class="gaadiex-list-item-img"
                            src="http://www.free-icons-download.net/images/commercial-male-user-icon-32765.png"
                            alt="List user">
                        <div class="gaadiex-list-item-text">
                            <h3><a href="#">{{ vid.title }}</a></h3> <!-- url_for('watch')+vid.id -->
                            <p>{{ vid.description }}</p>
                            <p>By {{ vid.owner }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>