<html>

<head>
    <meta charset="UTF-8">
    <title>TheTube - Login</title>
    {% include 'headers.html' %}
</head>

<body>
    {% include 'topnavigation.html' %}
     <div class="container-fluid">
        <form method="POST" action="/login">
            <div class="form-group">
                <div class="control">
                    <input class="input is-large" type="text" name="username" placeholder="Your Username">
                </div>
            </div>
            <div class="form-group">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Your Password">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
    </div>
    <!--
    {% include 'footer.html' %} -->
</body>

</html>




