<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TheTube - Upload Video</title>
    {% include 'headers.html' %}
</head>

<body>
    {% include 'topnavigation.html' %}
    <div class="container-fluid">
        <form method="post" action="/upload" enctype="multipart/form-data">
            <dl>
		        <p>
			        <input type="file" name="file" autocomplete="off" required>
		        </p>
            </dl>
            <p>
                <input type="submit" value="Submit">
            </p>
        </form>
    </div>
    <!--
    {% include 'footer.html' %} -->
</body>

</html>